</div>
<div class="footer-padding"></div>
<div class="footer">
  <a href="https://www.linkedin.com/in/raunak-singh-537520238/" class="fa fa-linkedin"></a>
  <a href="https://github.com/RaunakDestroyer" class="fa fa-github"></a>

</div>
</div>
</body>

</html>
