<%- include("partials/header"); -%>
<div>
  <h1><u class="utt">About Me</u></h1>
  <div class="abt">
    <p><i class="fa fa-eye" aria-hidden="true"></i>I am 3rd year college Student pursing B.TECH Degree in RCC Institue Of Information Technology.</p>
    <p><i class="fa fa-eye" aria-hidden="true"></i>Got <u>8.17</u> SGPA in 5th semester.</p>
    <p><i class="fa fa-eye" aria-hidden="true"></i>Secured 91.2% in class 10th.</p>
    <p><i class="fa fa-eye" aria-hidden="true"></i>Secured 91% in class 12th.</p>
  </div>

</div>
  <h2 class = "down">Contact Me: 7003137700</h2>
<%- include("partials/footer"); -%>
