<%- include("partials/header"); -%>

<section class="features section">
  <div>
    <h2 class="title">Skills</h2>
  </div>



  <div class="row">
    <div class="feature-box col-md-4 col-sm-6 feature-list list-unstyled">
      <li><i class="fa fa-check"></i>JAVA</li>
      <li><i class="fa fa-check"></i>HTML</li>
      <li><i class="fa fa-check"></i>CSS</li>
      <li><i class="fa fa-check"></i>JAVASCRIPT</li>
      <li><i class="fa fa-check"></i>BOOTSTRAP</li>
    </div>

    <div class="feature-box col-md-4 col-sm-6 feature-list list-unstyled">
      <li><i class="fa fa-check"></i>NODE JS</li>
      <li><i class="fa fa-check"></i>EXPRESS</li>
      <li><i class="fa fa-check"></i>jQUERY</li>
      <li><i class="fa fa-check"></i>API</li>
      <li><i class="fa fa-check"></i>EJS</li>
    </div>
    <div class="feature-box col-md-4 col-sm-6 feature-list list-unstyled">
      <li><i class="fa fa-check"></i>SQL</li>
      <li><i class="fa fa-check"></i>MONGO DB</li>
    </div>

  </div>







</section>

<%- include("partials/footer"); -%>
